
  /* Add your custom styles here */

.header-container {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .header-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .header-text {
    font-size: 20px;
  }
  
  /* Add your custom styles here */

/* Add your custom styles here */

.meme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .memeSubmit {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .meme {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    overflow: hidden; /* To prevent text from overflowing */
  }
  
  .meme-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  .top,
  .bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    padding: 5px 10px;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Adds ellipsis if text overflows */
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .top {
    top: 40px;
  }
  
  .bottom {
    bottom: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .top,
    .bottom {
      font-size: 18px; /* Decrease font size for smaller screens */
    }
  }
  